img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.currentAvatar {
  border: 1px solid transparent;
}

.currentAvatar:hover {
  border: 1px solid rgb(155, 160, 163);

  /* border: 10px red solid; */
}

.AvatarPicker {
  display: flex;
  justify-content: center;
}
